.three-line-legend {
    position: absolute;
    z-index: 1;
}

.graph-container {
    background: white;
    border-radius: 36px;
    overflow: hidden;
    margin: 20px;
}

.graph {
    margin: 10px 10px 0 10px;
    position: relative;
}

.addToObserved button {
    height: 40px;
    border: 0;
    background: none;
    color: var(--gray);
    display: flex;
    align-items: center;
}

.addToObserved-text {
    margin-right: 8px;
    font-size: 14px;
    font-weight: 600;
}

.bottomSection {
    display: flex;
    margin: 0 20px;
    justify-content: space-between;
    align-items: center;
}

.showMoreInfo {
    font-size: 14px;
    font-weight: 600;
    padding-left: 8px;
    color: var(--gray);
    text-decoration: underline;
    cursor: pointer;
}