.three-line-legend {
    position: absolute;
    z-index: 1;
}

.graph-container {
    background: white;
    border-radius: 36px;
    overflow: hidden;
    margin: 20px;
}

.graph {
    margin: 10px 10px 0 10px;
    position: relative;
}

.bottomSection {
    margin: 0 20px;
}

.showMoreInfo {
    font-size: 14px;
    font-weight: 600;
    padding-left: 8px;
    color: var(--gray);
    text-decoration: underline;
    cursor: pointer;
}