.content {
    background: var(--background);
    margin: auto;
    width: max-content;
    padding: 25px;
    border-radius: 30px;
}

.firstRow {
    display: flex;
    align-items: center;
}

.logo {
    width: auto;
}

.code {
    font-size: 17px;
}

.name {
    font-weight: 600;
    font-size: 24px;
}

.site {
    font-size: 18px;
    color: black;
}

.no-marg {
    margin: 4px 0;
}

.list-title {
    font-weight: 500;
}

.closeMoreInfo-btn {
    margin: 15px;
    font-size: 36px;
    cursor: pointer;
    position: absolute;
}

.closeMoreInfo-btn::after {
    content: '\d7';
}